<div class="container app-body">
    <div class="row">
        <div class="col-xs-12" style="margin-top:15px">
            <form name="customerform">
                <div class="col-xs-12" style="margin-top:15px;text-align:center;">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Name</span>
                        <input data-ng-model="Model.Name" id="name" required type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:15px;text-align:center;">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Date Of Birth</span>
                        <input data-ng-model="Model.DateOfBirth" required id="name" type="date" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-xs-12">
                    <select class="form-control" style="margin-top:15px;" data-ng-model="Model.Gender" required>
                        <option value="">select gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="col-xs-12" style="margin-top:15px;">
                    <a class="btn btn-primary" role="button" data-ng-click="Model.AddDependentTemplate()">Add dependent <span class="glyphicon glyphicon-plus-sign icn"></span></a>
                </div>
                <div id="dependents"></div>
                <div class="col-xs-12" style="margin-top:15px;">
                    <input class="btn btn-default" type="button" value="Submit" data-ng-disabled="customerform.$invalid" data-ng-click="Model.GetInsurerDetails()">
                </div>
            </form>
        </div>
    </div>
</div>